.heading{
    font-family:sans-serif;
    padding: 5px;
}

.heading-line{
    width: 100px;
    height: 2px;
    background-color: black;
    text-align: center;
    margin: 5px auto;
    margin-bottom: 20px;
}


.leaves-container {
  display: flex;
  align-items: center;
}

.remaining-leaves i,
.taken-leaves i {
  font-size: 2em;
  color: red;
}

.taken-leaves i {
  color: gray;
}