@import url('https://fonts.googleapis.com/css?family=Assistant');

body {
    background: #eee;
    font-family: Assistant, sans-serif
}


.cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #ffffff;
    border-bottom: 5px solid transparent;
    background-clip: padding-box;
    cursor: pointer
}

thead {
    background: #dddcdc
}

.table-elipse {
    cursor: pointer
}

#demo {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s ease-in-out
}

.row-child {
    background-color: #000;
    color: #fff
}

thead tr{
    background-color: #292b2c;
    color: white;
}
table{
    /* background-color: white; */
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
    margin-top: 10px;
}


tr{
    background-color: white;
    margin: 1px;
}

.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-div i{
    position: absolute;
    margin-left: 11%;
}