.background-image {
	background-image: url('../../img/iitrpr1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height:100vh;
  }

  .mb-33 {
	/* background-color: aqua; */
	display: flex;
	justify-content: center;
  }

.cont {
	background: inherit;
	background-color: black;
}
  
@media (max-width: 768px) {
.background-image {
	background-color: "#7393B3";
	background-image: url('');
}
}

.submit-button {
	display:flex;
    justify-content:center;
    align-items:center;
}
